$colors: (
    primary: #FFF6BA
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: color(primary);
}

section {
    img {
        max-height:40vh;
        width: auto;
        object-fit: cover;
    }
    h1 {
        font-size: 5vh;
        cursor: pointer;
        &:hover{
            color: gray;
            font-size:7vh;
        }
    }
}
